.inventoryPanelBody {
    position: relative;
    overflow: hidden;
    height: 100px;
}

.inv_back_brand {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: auto;
    opacity: 0.4;
    z-index: 0;
}

.inventorycontrols {
    float: right;
}
.inventorycontrols button {
    border: 0;
    background: none;
}
.inventorycontrols * {
    display: inline;
    margin-left: 10px;
}

.glyphicon-remove {
    color: red;
    font-weight: bold;
}
.glyphicon-plus {
    color: green;
    font-weight: bold;
}

.addPanel .panel-heading {
    cursor: pointer;
}

.addPanel .panel-heading div {
    float: right;
}
.addPanel .panel-heading .glyphicon{
    font-weight: bold;
}

.skateboardPanel .inventorycontrols, .buildPanel .inventorycontrols{
    display:none;
}

.buildPartHolder {
    height: 141px;
    border: 2px;
    border-color: gray;
    border-style: dashed;
}

#buildButtons > *{
    width: 50%;
    float: left;
}
#filterbutton {
    width: 100%;
}

.boardimage {
    max-width:100%;
    max-height:300px;
    margin-bottom:20px;
}

.riderimg {
    width:100%;
    max-height:300px;
}

div.message {
    color:green;
    font-weight:bold;
    width:100%;
    text-align:center;
    font-size: x-large;
    margin-top: 15px;
    margin-bottom:15px;
    background-color:rgba(0, 0, 0, 0.2);

}

div.message.error {
    color:red;
}

.addform {
   margin:40px;
}
.addform > * {
    margin:10px;
}

.panel-footer > * {
    display:inline;
    padding-left:35px;
}
.panel-footer button, .panel-body button {
    background:none;
    border:none;
}
.addRiderForm {
    float:right;
    display:block;
}



#buildButtons{
   margin: 10px;
}
#buildButtons *[disabled] {
    opacity:.3;
}

.inventory_heading {
    text-align: center;
    font-weight:bold;
    font-size:xx-large;
}

#boardTemplate {
    margin:25px;
}

.builpartlabel {
    text-align:center;
    font-weight:bold;
    padding-bottom:5px;
}

.addPanel .panel-heading {
    background-color:lightgreen;
    padding-bottom:20px;
    padding-top:20px;
    text-align:center;    
}

#buildInstructions {
    text-align:center;
    font-weight:bold;
    font-size:xx-large;
}