.inventoryPanelBody {
    position: relative;
    overflow: hidden;
    height: 100px;
}

.inv_back_brand {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: auto;
    opacity: 0.4;
}

.inventorycontrols {
    float: right;
}
.inventorycontrols button {
    border: 0;
    background: none;
}
.inventorycontrols * {
    display: inline;
    margin-left: 10px;
}

.glyphicon-remove {
    color: red;
    font-weight: bold;
}
.glyphicon-plus {
    color: green;
    font-weight: bold;
}